.btn {
  display: inline-flex;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid grey;
  background-color: #f2f2f2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px - 2px 6px 0px inset;
}

.btn:hover,
.btn:focus {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}

.btn:active {
  background-color: #4caf50;
  color: #fff;
}

.btn.isSelected {
  background-color: #4caf50;
  color: #fff;
}
