.form {
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.label {
  font-size: 15;
  justify-content: space-between;
}
.input {
}

.label:hover,
.label:focus-within {
  color: #4caf50;
}

.input:invalid + span:after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
  color: #8b0000;
}

.input:valid + span:after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
  color: #009000;
}

.btn {
  background-color: #f2fcf5;
  color: black;
  border: 2px solid #4caf50;
}

.btn:hover,
.btn:focus {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}
